* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, Arial, Helvetica, sans-serif;
}

body {
  background-color: #E8FFE5;
  color: #1A8151;
  font-size: 18px;
  line-height: 1.6;
}

header {
  background-color: #1A8151;
  color: #E8FFE5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #83FC92;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: #E8FFE5;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
}

nav a:hover {
  color: #83FC92;
}

.banner {
  height: 90vh;
  background: linear-gradient(135deg, #1A8151, #83FC92);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #E8FFE5;
}

.banner-texto {
  background-color: rgba(26,129,81,0.8);
  padding: 50px;
  border-radius: 20px;
}

.banner h1 {
  font-size: 55px;
  margin-bottom: 25px;
  color: #83FC92;
}

.banner p {
  font-size: 22px;
  margin-bottom: 25px;
}

.banner button {
  padding: 14px 28px;
  border: none;
  background-color: #1BBA23;
  color: #E8FFE5;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
}

.banner button:hover {
  background-color: #83FC92;
  color: #1A8151;
  transform: scale(1.1);
}

.secao {
  padding: 70px 10%;
}

.secao h2 {
  text-align: center;
  margin-bottom: 45px;
  font-size: 40px;
  color: #1A8151;
}

.cards {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #E8FFE5;
  padding: 30px;
  width: 320px;
  border-radius: 20px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  transition: 0.3s;
  text-align: center;
  font-size: 18px;
}

.card:hover {
  transform: translateY(-8px);
  background-color: #83FC92;
  color: #1A8151;
}

.card h3 {
  margin-bottom: 18px;
  color: #1BBA23;
  font-size: 24px;
}

.quiz button {
  margin: 12px;
  padding: 12px 22px;
  border: none;
  background-color: #1BBA23;
  color: #E8FFE5;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

.quiz button:hover {
  background-color: #83FC92;
  color: #1A8151;
  transform: scale(1.1);
}

#resultadoQuiz {
  margin-top: 25px;
  font-size: 22px;
  font-weight: bold;
}

.correto {
  background-color: #83FC92 !important;
  color: #1A8151 !important;
}

.errado {
  background-color: salmon !important;
  color: #fff !important;
}

footer {
  background-color: #1A8151;
  color: #E8FFE5;
  text-align: center;
  padding: 25px;
  font-size: 18px;
}
